body {
  overflow-x: hidden;
  min-height: 100vh;
}
.a-logo:hover img {
  filter: invert(100%);
}

.containez {
  width: 80%; /* Puedes ajustar el ancho del contenedor según tus necesidades */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.containez h1 {
  font-size: 5vw; /* El tamaño de fuente es el 5% del ancho del viewport */
}

.cursor-follow {
  background-image: url("./img/DAVS-PICTURE-1.jpg");
  background-size: cover;
  background-position: center;
  width: 300px;
  mix-blend-mode: difference;
  height: 400px;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  transform: translate(5px, 5px);
}


